@media screen and (min-width: 721px) {
  .container {
    width: 1799px;
  }
}

@media screen and (max-width: 720px) {
  .form {
    height: 300px;
    background-size: 950px;
    background-position-x: -120px;
  }
  .form__box {
    max-width: 330px;
    width: 100%;
    margin-left: 52%;
    height: 295px;
  }
  .form__box::before {
    max-width: 330px;
    width: 100%;
    height: 295px;
  }
  .form__content > h2 {
    margin-top: 46px;
    height: 58px;
    padding: 0 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: white;
    padding-bottom: 15px;
  }
  .form__input {
    height: 60px;
    width: 260px;
    padding: 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.81px;
  }
  .form__button {
    height: 60px;
    width: 280px;
    font-size: 16px;
    line-height: 20.81px;
  }
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elements__child {
    max-width: 690px;
    width: 100%;
    padding: 20px 0 40px 115px;
    margin: 0 30px 30px 10px;
  }
  .elements__child--heading {
    font-size: 20px;
    line-height: 24.78px;
    font-weight: bold;
    color: #3F3F3F;
  }
  .elements__child > p {
    font-size: 16px;
    font-weight: 300;
    padding-top: 15px;
    color: #3F3F3F;
    opacity: 0.8;
  }
  .two::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 77px;
  }
  .three::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 78px;
  }
  .second__child::before {
    margin-left: 465px;
    margin-top: -52px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .third__child::before {
    margin-left: 465px;
    margin-top: -52px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .authors__box {
    margin-bottom: 30px;
  }
  .authors > h2 {
    padding-top: 30px;
  }
  .technologies__button {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer__rights {
    max-width: 631px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.81px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 685px) {
  .form {
    height: 250px;
    background-size: 800px;
    background-position-x: 0;
  }
  .form__box {
    max-width: 330px;
    width: 100%;
    margin-left: 0;
    height: 295px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 370%;
  }
  .form__box::before {
    max-width: 330px;
    width: 100%;
    height: 295px;
  }
  .form__content > h2 {
    margin-top: 46px;
    width: 290px;
    height: 58px;
    padding: 0 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.73px;
    color: white;
    padding: 0;
  }
  .form__input {
    height: 60px;
    width: 240px;
    padding: 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.81px;
  }
  .form__button {
    height: 60px;
    width: 260px;
    font-size: 16px;
    line-height: 20.81px;
  }
  .main__heading {
    padding: 40px 15px;
    font-size: 24px;
    line-height: 29.43px;
  }
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elements__child {
    max-width: 290px;
    width: 100%;
    padding: 20px 0 40px 115px;
    margin: 0 10px 30px 10px;
  }
  .two::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 77px;
  }
  .three::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 78px;
  }
  .second__child::before {
    margin-left: 0;
    margin-top: -50px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .third__child::before {
    margin-left: 0;
    margin-top: -50px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .authors__box {
    margin-bottom: 30px;
    max-width: 290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: none;
  }
  .authors__heading {
    margin-left: 0;
    margin-top: 40%;
  }
  .authors__box > p {
    margin-left: 0;
  }
  .authors > h2 {
    padding-top: 40px;
  }
  .women::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    background-image: url(/images/women.png);
    margin-top: -40%;
    background-repeat: no-repeat;
  }
  .man::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    background-image: url(/images/man.png);
    margin-top: -40%;
    background-repeat: no-repeat;
  }
  .technologies__button {
    margin-top: 0;
    margin-bottom: 0;
    width: 290px;
    height: 32px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 3;
    top: 203px;
  }
  .technologies__elements {
    width: 180px;
    margin-top: 320px;
  }
  .technologies__elements > img {
    margin: 5px;
  }
  .technologies__wordpress {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .footer {
    height: auto;
    padding-bottom: 20px;
  }
  .footer__rights {
    max-width: 320px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.81px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav > a {
    margin: 2% 0;
  }
  .modal {
    background: #02AF02;
    z-index: 5;
    border-radius: 5px;
    max-width: 290px;
    width: 100%;
    height: 200px;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: fixed;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    color: white;
    visibility: hidden;
  }
  .modal__heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 20.81px;
  }
  .modal__info {
    font-size: 16px;
    font-weight: 300;
    margin-top: -10%;
  }
}

@media screen and (max-width: 375px) {
  .form {
    height: 250px;
    background-size: 800px;
    background-position-x: -260px;
  }
  .form__box {
    max-width: 290px;
    width: 100%;
    margin-left: 0;
    height: 295px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 650%;
  }
  .form__box::before {
    max-width: 330px;
    width: 100%;
    height: 295px;
  }
  .form__content > h2 {
    margin-top: 46px;
    width: 290px;
    height: 58px;
    padding: 0 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.73px;
    color: white;
    padding: 0;
  }
  .form__input {
    height: 60px;
    width: 240px;
    padding: 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.81px;
  }
  .form__button {
    height: 60px;
    width: 260px;
    font-size: 16px;
    line-height: 20.81px;
  }
  .main__heading {
    padding: 40px 15px;
    font-size: 24px;
    line-height: 29.43px;
  }
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elements__child {
    max-width: 290px;
    width: 100%;
    padding: 20px 0 40px 115px;
    margin: 0 10px 30px 10px;
  }
  .two::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 77px;
  }
  .three::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -75px;
    width: 55px;
    height: 78px;
  }
  .second__child::before {
    margin-left: 0;
    margin-top: -50px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .third__child::before {
    margin-left: 0;
    margin-top: -50px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 45px solid #1699D3;
  }
  .authors__box {
    margin-bottom: 30px;
    max-width: 290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .authors__heading {
    margin-left: 0;
    margin-top: 40%;
  }
  .authors__box > p {
    margin-left: 0;
  }
  .authors > h2 {
    padding-top: 40px;
  }
  .women::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    background-image: url(/images/women.png);
    margin-top: -40%;
    background-repeat: no-repeat;
  }
  .man::before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    background-image: url(/images/man.png);
    margin-top: -40%;
    background-repeat: no-repeat;
  }
  .technologies__button {
    margin-top: 0;
    margin-bottom: 0;
    width: 290px;
    height: 32px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 3;
    top: 203px;
  }
  .technologies__elements {
    width: 180px;
    margin-top: 320px;
  }
  .technologies__elements > img {
    margin: 5px;
  }
  .technologies__wordpress {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .footer {
    height: auto;
    padding-bottom: 20px;
  }
  .footer__rights {
    max-width: 260px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.81px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav > a {
    margin: 2% 0;
  }
  .modal {
    background: #02AF02;
    z-index: 5;
    border-radius: 5px;
    max-width: 290px;
    width: 100%;
    height: 200px;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: fixed;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    color: white;
    visibility: hidden;
  }
  .modal__heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 20.81px;
  }
  .modal__info {
    font-size: 16px;
    font-weight: 300;
    margin-top: -10%;
  }
}
/*# sourceMappingURL=responsive.css.map */